 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 //  * {
 //      border: 1px solid black;
 //  }



 .header {
     font-size: 0.9rem;

     #gmail,
     #images {
         &:hover {
             border-bottom: 1px solid black;
         }
     }

     a,
     a:hover {
         text-decoration: none;
         color: black;
         font-weight: 300;
     }

     #square-grid img {
         width: 30px;
         opacity: 0.6;

         &:hover {
             opacity: 0.9;
         }
     }

     #a-logo img {
         width: 35px;
         border-radius: 50%;
     }
 }

 .google-logo {
     img {
         width: 30vw;
         padding: 80px 0 50px 0;
     }
 }

 .search-bar {
     width: 50%;
     border: 0.5px solid rgba(0, 0, 0, 0.253);
     border-radius: 2.1rem;

     input {
         width: 90%;
         border: none;
         //  background: red;
         font-size: 1.2rem;
         font-weight: 300;
         padding: 0 10px;

         &:focus {
             outline: none;
         }
     }

     img {
         width: 3%;
         height: auto;
     }
 }

 #google-search,
 #feeling-lucky {
     outline: none;
     border: none;
     padding: 0.5rem 1.1rem;
     border-radius: 4px;
     font-size: 0.9rem;
     margin: 0 0.5rem;
     color: rgba(0, 0, 0, 0.65);

     &:hover {
         background-color: whitesmoke;
         border: 3px solid inset rgb(0, 0, 0);
         box-shadow: 0.2px 0.2px 3px rgba(0, 0, 0, 0.459);
     }
 }